.footerContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: fit-content;
    width: 100%;
    position: relative;
    bottom: -81vh;
    left: 0;
    z-index: 100;
}
.footerBottom{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 50px;
    width: 100%;
    position: relative;
    bottom: -81vh;
    left: 0;
    z-index: 100;
}

h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10;
    padding: 0;
    color: aliceblue;
}
.quickLinks{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 50px;
    width: 100%;
    position: relative;
    left: 0;
    z-index: 100;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
   
    }


.socialLinks{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: xx-large;
    a{
        font-size: xx-large;
    }
}
#insta:hover{
    color: #E1306C;
}   