<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="{% static 'assets/favico.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
    <script type="module" crossorigin src="{% static 'assets/main.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'assets/style.css' %}">
  </head>
  <body>
    <div id="root"></div>

  </body>
</html>
