
.container {
    z-index: 2;
    position: relative;
    top: 80vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    transition: all 0.5s;
    background-color: #f9f9f9;
    color: black;
}

.container.dark {
    background-color: black;
    color: white;
}

.show {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}.dark.show{
    background-color: #333;
}

.textinmiddle {
    transition: all 0.5s;
    text-align: center;
    color: #333;
}.dark.textinmiddle{
    color: white;
}

.showlink {
    color: #d69813;
    text-decoration: none;
    font-size: 34px;
}

.showlink:hover {
    text-decoration: none;
    color: #f99727;
}

.listvenues_img {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.poster {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}