.navadmin {
    z-index: 3;
    top: 10vh;
    width: 100vw;
    position: fixed;
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    a {
        color: #fff;
        padding: 14px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        transition: background-color 0.3s ease;
    }
    a:hover {
        background-color: #575757;
        border-radius: 4px;
    }
    p{
        color: #fff;
        padding: 14px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        transition: background-color 0.3s ease;
        vertical-align: middle;
        height: max-parent;
    }
    p:hover {
        background-color: #575757;
        border-radius: 4px;
      }
}


@media (max-width: 600px) or (max-height: 600px) {
  .poster {
   min-width: 80vw; 
    
  }
  .navadmin{
      display: flex;
      flex-direction: column;
      width: 100vw;
      justify-content: center;
      align-items: center;
      height: auto;
      background-color: #333;
      padding: 10px 0;       
      gap: 5px;
  }
  .navadmin button{
      display: block;
      width: 100%;
      text-align: center;
      background-color: darkorange;
  }
  .navadmin a {
      display: block;
      width: 100%;
      text-align: center;;
  }
  .navadmin a:hover {
      background-color: #575757;
      border-radius: 0;
  }
  .navadmin a.active {
      background-color: #4CAF50;
      color: white;
      border-radius: 0;
  }}