:root{
--row_length:8;
--row_count:10;
}
.textinmiddle{
    text-align: center;
}
listvenues_main{
    display: list-item;
    justify-content: center;
    align-content: center;
    width: 95vw;
}
.listvenues{
    display: flex;
    align-content: center;
    justify-content: center;
}
.listvenues_img{
    display: flex;
    justify-content: center;
    align-content: center;
}
.listvenues_title{
    text-align: center;
}
.main_screen{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    flex-direction: column;
}
.nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 6vh;
    background-color: rgba(201, 135, 35, 0.607);

    button:hover{
        background-color: rgba(255, 0, 0, 0.234);
        box-shadow: inset;
    }
    a{
        border-radius: 10%;
    }
    a>p{
        padding: 0.5%;
        width: 10vw;
        text-align: center;
        border-radius: 25%;

    }
    span{
        padding: 0.5%;
        border-radius: 5%;
    }
}

@media (max-width: 600px){
    .nav{
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 40vh;
        background-color: rgba(201, 135, 35, 0.607);
        padding: 1%;
    }
    .nav>a{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100vw;
        padding: 3%;
    }
    .nav>button{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 95vw;
        padding: 3%;
        margin: 1%;
    }
    .nav>a>p{
        width: 100vw;
        text-align: center;
    }
    .nav>:hover{
        background-color: rgba(201, 135, 35, 0.607);
    }
}

.nav>:hover{
    transition: background-color 1s ease, color 0.3s ease;
    background-color: rgba(201, 135, 35, 0.294);

}

.router{
    display: flex;
    width: 95vw;
    justify-content: center;
    align-content: center;
}

.routes{
    display: flex;
    width: 95vw;
    justify-content: center;
    align-content: center;

}

.show{
    width: 95vw;
}

.showlink{
    font-size: xx-large;
    color: rgb(219, 132, 33);
}
.showlink:hover{
    color: rgb(249, 151, 39);

}
.venuedetail_main {
    width: 95vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.poster{
    max-width: 35vw;
}